@import "tailwindcss";

/* Reset global */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Fira Code', monospace;
  color: #00BFFF; /* Neon blue base */
  letter-spacing: 0.02em;
}

/* Tailwind + fondo base + altura mínima */
body {
  min-height: 100vh;
}
